/*HEADERS*/

/*Buttons*/
.navbar-toggler-icon {
  background-color: yellow; /* Change the color of the hamburger menu */
  margin-left: auto;
}

.navbar-nav {
  margin-left: auto; /* Align the navigation links to the right */
}

.bubble-button {
  margin-right: 10px; /* Add some spacing between buttons if needed */
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  max-width: 80vw; /* Adjust the maximum width as needed */
  margin: 0 auto;
  margin-bottom: 5%;
}

.bubble-button {

  min-width: 100px;
  padding: 20px;
  margin-right: 10px;
  border: none;
  border-radius: 100px;
  background-color: #b38f00; /* Blue color, you can change this */
  opacity: 0.8;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.bubble-button:hover {
  transform: scale(1.1);
}

/*End buttons*/
/*HEADERS - END*/
  
p,h2,h4,h1
{
    color: #a7abc5;
    align-items: left;
    
}
body 
{
  background-color: #1e1d2b;
}


#icons
{

    border-image-width: 5%;
}

.smallImg
{
  margin-left: 2%;
}

