  .typename{
    height: 50vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
/* Use more specific selectors to target navbar text */
.navbar-dark .navbar-brand,
.navbar-dark .navbar-toggler-icon,
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

#navbarNav
{
  color: white;
}

/* Optional: Add styles for the auto-type animation */
.auto-type {
  color: #ffcc00;
  font-weight: bold;
}


