*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }

  .typename{
    height: 50vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container h1{
    font-size: 80px;
    font-weight: 600;
  }

  span
  {
    color: aquamarine;
  }

/* Use more specific selectors to target navbar text */
.navbar-dark .navbar-brand,
.navbar-dark .navbar-toggler-icon,
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

#navbarNav
{
  color: white;
}

/* Optional: Add styles for the auto-type animation */
.auto-type {
  color: #ffcc00;
  font-weight: bold;
}


