
#HeaderName
{
    padding-left: 5%;
}


h2
{
    margin-left: 5%;
    font-size: 44px;
}

h1
{

    margin-left: 5%;
    font-size: 80px;
    display:inline;
}

img
{
    margin-left: 10%;
    width: 5%;
}

#icons
{
    margin-left: 40%;
}